			<div class="menu">
				<ul>
					<li>
						<a href="/"><i class="icon-home"></i></a>
					</li>
					<li><a href="/specs/">specs</a></li>
					<li><a href="/sitemap/">sitemap</a></li>
					<li><a href="/wireframe/">wireframes</a></li>
				</ul>
				<ul>
					<li><i class="icon-linkedin"></i> · <a href="http://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">linkedin</a></li>
					<li><i class="icon-twitter"></i> · <a href="https://twitter.com/{{ site.twitter }}">twitter</a></li>
					<!--li><i class="icon-dribbble"></i> · <a href="#">dribbble</a></li-->
					<li><i class="icon-soundcloud"></i> · <a href="https://soundcloud.com/tokenmusic" target="_blank">soundcloud</a></li>
					<!--li><i class="icon-article-alt"></i> · <a href="#">blog</a></li-->
					<!--li><i class="icon-attach"></i> · <a href="#">CV</a></li-->
				</ul>
				<div id="hexagon"></div>
			</div>
			<!--div class="back-logo">&#x2B22;</div-->